/* PHASE 8: Thumbs */
.profile-friends{

}
.profile-friends > li{
    float: left;
    width: 60px;

}

.profile-friends li:nth-child(3n){
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}